<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    <%=title%>
  </title>
  <link rel="shortcut icon" href="../favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/mdb.min.css" rel="stylesheet">
  <!-- <link href="/stylesheets/style.css" rel="stylesheet"> -->
  <style>
    .form-simple {
      padding-top: 100px;
      padding-bottom: 100px;
      max-width: 800px;
      margin: auto;
    }

    .nav-item.active {
      background-color: #4285F4;
    }

    .change {
      background-color: #ffc107!important;
    }
  </style>
</head>

<body>
  <!-- <div id="mdb-preloader" class="flex-center">
    <div id="preloader-markup">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <header>

    <nav class="mb-1 navbar navbar-expand-lg navbar-dark amber">
      <div class="container">
        <a class="navbar-brand" href="/">
          <strong>Student Records</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="fa fa-home"></i>Home
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="/student">
                <i class="fa fa-address-book-o"></i>View All Student</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/add">
                <i class="fa fa-user-circle-o"></i>Add Student</a>
              <span class="sr-only">(current)</span>
            </li>
          </ul>
          </ul>
        </div>
      </div>
    </nav>

  </header>

  <section class="form-simple">
    <div class="container wow fadeInLeft data-wow-delay=" 3s "">
      <%if (error_msg.length > 0) {%>
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= error_msg %>
        </div>
        <%};%>

          <ol class="breadcrumb">
            <li class="breadcrumb-item isactive">
              <a href="/student">View All Student</a>
            </li>
            <li class="breadcrumb-item">Add Student</li>
          </ol>

          <!--Form with header-->
          <div class="card">

            <!--Header-->
            <div class="header pt-3 grey lighten-2">

              <div class="row d-flex justify-content-start text-capitalize text-center">
                <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Add Student</h3>
              </div>

            </div>
            <!--Header-->

            <div class="card-body mx-4 mt-4">

              <!--Body-->
              <form action="/student/add" method="post">
                <div class="md-form">
                  <input type="text" id="firstname" name="firstName" class="form-control" required>
                  <label>Your First Name
                    <abbr title="This field is mandatory">*</abbr>
                  </label>
                </div>
                <div class="md-form">
                  <input type="text" name="lastName" class="form-control" required>
                  <label>Your last Name
                    <abbr title="This field is mandatory">*</abbr>
                  </label>
                </div>
                <div class="md-form">
                  <input type="email" name="email" class="form-control" required>
                  <label>Your email
                    <abbr title="This field is mandatory">*</abbr>
                  </label>
                </div>
                <div class="md-form">
                  <input type="text" name="address" class="form-control">
                  <label>Your Address</label>
                </div>
                <div class="md-form">
                  <select name="gender" class="form-control" required>
                    <abbr title="This field is mandatory">*</abbr>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
                <div class="form-group">
                  <select name="level" class="form-control" required placeholder="Enter Your level">
                    <abbr title="This field is mandatory">*</abbr>
                    <option value="">Enter Your Level</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                  </select>
                </div>
                <br>
                <hr>
                <div class="md-form">
                  <input type="number" name="phoneNumber" class="form-control" placeholder="Enter using 2348088884650" name="quantity" max="13">
                  <label>Your phone Number</label>
                </div>
                <div class="form-group">
                  <label>Your Date of Birth
                    <abbr title="This field is mandatory">*</abbr>
                  </label>
                  <input type="date" name="dob" class="form-control" required>
                </div>
                <div class="md-form">
                  <input type="text" name="course" class="form-control">
                  <label>Your Course of study</label>
                </div>
                <div class="text-center">
                  <button class="btn btn-unique" type="submit">Add Student
                    <i class="fa fa-paper-plane-o ml-1"></i>
                  </button>
                </div>
              </form>
            </div>

          </div>
          <!--/Form with header-->
    </div>
  </section>

  <footer class="footer text-center" style="background-color: #ffc107;">
    <p style="margin : 0; padding : 5px;">Made With 💖 by Ipaye Alameen</p>
  </footer>
</body>

<!-- SCRIPTS -->
<script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/javascripts/popper.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/mdb.min.js"></script>
<script>
  new WOW().init();
</script>
</body>

</html>